<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/content_table.css" rel="stylesheet">
        <%include ../../layout/header%>
    </head>
    <body>
        <%include ../../layout/navbar%>
       
        <div id="wrapper">
             <button class="btn btn-primary float-right mb-3" id="btnAdd">Add Post</button>
            <table class="table table-bordered table-stripped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Author</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </body>
</html>