<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Client Page</title>
    <style>
        #wrapper{ width: 700px ; margin: auto ; padding:10px}
    </style>
  </head>
  <body>
  <div id="wrapper">
    <div id="ads">
        <a id="client_imgUrl" target="_blank"><img id="client_img" width="200"></a>
    </div>
    <section>
        <article class="nwsHt nwsUpgrade">
                <header class="atclTit atclTitD mrT10">
                    <h1 class="clrTit bld" itemprop="headline">MU thảm họa chuyển nhượng: Sir Alex hiến kế “độc”, sếp lớn phũ thẳng tay            </h1>
                </header>
                        <div class="updTm updTmD mrT5">Thứ Năm, ngày 20/06/2019 16:04 PM (GMT+7)</div>
                <!-- chia se mxh -->
                <div class="bmTpSeoBlk bmTpSeoBlkD clF">
                    <div class="icoSocial icoSocialx txtRt flRt">
            <a class="icoSocialCm" href="http://www.facebook.com/fan24h" title="Chia sẻ trên Fanpage" target="_blank">
                <span class="icoFb3 inbl"></span>
            </a>
            <a class="icoSocialCm" href="javascript:void(0);" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.24h.com.vn%2Fbong-da%2Fmu-tham-hoa-chuyen-nhuong-sir-alex-hien-ke-doc-sep-lon-phu-thang-tay-c48a1059816.html', '', 'menubar=no, toolbar=no, resizable=yes, scrollbars=yes, height=600, width=600');return false;" title="Chia sẻ bài viết này trên Facebook">
                <span class="icoFb1 inbl"></span>
            </a>
        </div><div class="clF"></div>        </div>
                <!-- sapo  -->
                        <h2 class="ctTp">Sir Alex Ferguson vẫn âm thầm tìm cách giúp đỡ đội bóng cũ trong công cuộc chuyển nhượng. Tuy nhiên, Phó chủ tịch Ed Woodward lại cho thấy cách hành xử thật khó chấp nhận.        </h2>
                <!-- su kien -->
                            <div class="sbNws">Sự kiện:
                    
                        <h3><a class="sbevt clrGr fs12" title="Chuyển nhượng mùa hè 2019" href="https://www.24h.com.vn/chuyen-nhuong-mua-he-c48e3417.html">Chuyển nhượng mùa hè 2019</a></h3>, <h3><a class="sbevt clrGr" title="Sir Alex Ferguson - Ông già gân" href="https://www.24h.com.vn/sir-alex-ferguson-ong-gia-gan-c48e3420.html">Sir Alex Ferguson - Ông già gân</a></h3>            </div>
                            <!-- Link ve bai dau tien trong danh sach bai nhieu ky-->
                
            <!-- Phan trang bai viet-->
           

        <p align="center"><img class="news-image initial loading" alt="MU thảm họa chuyển nhượng: Sir Alex hiến kế “độc”, sếp lớn phũ thẳng tay - 1" onclick="return openNewImage(this, '')" src="https://vcdn.24h.com.vn/upload/2-2019/images/2019-06-19/MU-tham-hoa-chuyen-nhuong-Sir-Alex-hien-ke-doc-sep-lon-phu-thang-tay-v2-1560951752-843-width660height439.jpg" data-was-processed="true"></p>

        <p align="center" style="color:#0000ff;font-style:italic;text-align:center;">Phó chủ tịch Ed Woodward &amp; Sir Alex</p>

        <p>Ở Old Trafford, bản sắc, bản lĩnh, kỷ luật, lòng trung thành đang&nbsp;dần biến mất, trong khi chính sách chuyển nhượng của đội bóng được coi là thảm họa.</p>

        <p>Trước bối cảnh đó, cựu HLV <a class="TextlinkBaiviet" href="https://www.24h.com.vn/sir-alex-ferguson-ong-gia-gan-c48e3420.html" title="Sir Alex">Sir Alex</a> trong lòng như lửa đốt và luôn tìm mọi cách giúp đỡ đội bóng cũ bằng mọi cách. Nguồn tin của Daily Mail tiết lộ, nhà cầm quân Scotland đã đích thân tiến cử Steve Walsh phụ trách vị trí giám đốc thể thao để&nbsp;kiêm các công việc tuyển trạch, chuyển nhượng.</p>

        <p>Cái tên Steve Walsh nổi tiếng kể từ sau kỳ tích năm 2016 của Leicester City khi mang về hàng loạt ngôi sao Riyad Mahrez, Jamie Vardy, Kasper Schmeichel, Marc Albrighton, N'Golo Kante… Hay trước đó với Chelsea là Gianfranco Zola và Didier Drogba. Dù năm ngoái Walsh vừa bị Everton sa thải nhưng Sir Alex vẫn tin rằng Steve Walsh có thể mang lại nhiều giá trị cho MU.</p>

        <p>Tuy nhiên, đáp lại thỉnh cầu của Sir Alex chỉ là sự thờ ơ từ phía BLĐ đội bóng, cụ thể là Ed Woodward. Phó chủ tịch điều hành MU vẫn giữ tiếng nói cuối cùng trong các kế hoạch nhân sự trong hè 2019 với 2&nbsp;cố vấn hàng đầu hiện nay Matt Judge và John Murtough.</p>

        <p>Ngoài ra Woodward muốn tái lập bản sắc cũng như những giá trị truyền thống của "Quỷ đỏ" thông qua các cựu cầu thủ như Rio Ferdinand hoặc Darren Fletcher.</p>

        <p>Đáng chú ý, đây không phải là lần đầu tiên chuyện Ed Woodward phớt lờ Sir Alex bị phanh phui. Mới hồi tháng trước, giới truyền thông Anh từng khẳng định Sir Alex đã muốn ngăn cản Solskjaer ngồi ghế nóng chính thức tại MU nhưng không thành công. Vào thời điểm đó, HLV Pochettino của Tottenham mới là người được Sir Alex tiến cử.</p>



        </div>
        </div>
        </div>


        </article>
    </section>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
        socket.on("server_send_client" , function(data){
            $("#client_imgUrl").attr("href" , data.link);
            $("#client_img").attr("src" , "imgs/" + data.img);
       })
        
    </script>
    
  </body>
  
</html>