<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form style="margin: 30px 0 0 30px" action="/login" method="POST">
        Username : <input type="text" id="username" name="username"><br><br>
        Password : <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit"> 
    </form>
    </body>
</html>